.game {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.players {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.players-table {
  width: 100%;
}

.hidden {
  display: none;
}

.gif-img {
  display: table-cell;
}
